.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}

.header h2 {
    font-size: 4em;
}

.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgba(209, 181, 19, 0.692);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 9px rgba(116, 100, 11, 0.692), 0px 9px 0 5px black;
    position: relative;
    animation: IrregularBounce 10s infinite;
    animation-delay: 2s;
}

.btn span {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0 -4px 3px rgba(255, 255, 255, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    transform: perspective(300px) rotateX(10deg);
    display: inline-block;
}

.btn:hover {
    background: linear-gradient(#8f7b0e, #ccc918);
    position: relative;
    transition: top, left, right, bottom, 300ms ease-in-out;
    animation: MoveUpDown 1s linear infinite;
}

.btn:active {
    background-color: gold;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 1px rgba(116, 100, 11, 0.692), 0px 5px 0 5px black;
    animation-play-state: paused;
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
        box-shadow: inset 0 1px 0 #FFE5C4, 0 5px rgba(116, 100, 11, 0.692), 0px 5px 0 5px black;
    }
}

@keyframes IrregularBounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(4px);
        box-shadow: inset 0 1px 0 #FFE5C4, 0 5px rgba(116, 100, 11, 0.692), 0px 5px 0 5px black;
    }
    20% {
        transform: translateY(0);
        box-shadow: inset 0 1px 0 #FFE5C4, 0 9px rgba(116, 100, 11, 0.692), 0px 9px 0 5px black;
    }
    100% {
        transform: translateY(0);
    }
}

.jpeg {
    border: 5px solid rgba(116, 100, 11, 0.692);
    box-shadow: 0px 0px 0 3px black;
}
/*
.donkeyFace {
    position: absolute;
    top: 35%;
    left: 62%;
}

.js {
    position: absolute;
    left: 1255px;
    top: 400px;
    width: 25px;
    height: 25px;
    animation: jsOrbit 8.88s linear infinite;
}

.css {
    position: absolute;
    left: 1255px;
    top: 400px;
    width: 25px;
    height: 25px;
    animation: cssOrbit 8.88s linear infinite;
}

.html {
    position: absolute;
    left: 1255px;
    top: 400px;
    width: 25px;
    height: 25px;
    animation: htmlOrbit 8.88s linear infinite;
}

.php {
    position: absolute;
    left: 1255px;
    top: 400px;
    max-width: 40px;
    max-height: 40px;
    animation: phpOrbit 2.88s linear infinite;
}

.laravel {
    position: absolute;
    left: 1250px;
    top: 400px;
    width: 35px;
    height: 35px;
    animation: laravelOrbit 3.88s linear infinite;
}

.node {
    position: absolute;
    left: 1250px;
    top: 400px;
    width: 35px;
    height: 35px;
    animation: nodeOrbit 5.88s linear infinite;
}


@keyframes phpOrbit {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}
@keyframes laravelOrbit {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}
@keyframes nodeOrbit {
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
@keyframes cssOrbit {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
        transform: rotate(-360deg) translateX(250px) rotate(360deg);
    }
}
@keyframes htmlOrbit {
    from {
        transform: rotate(0deg) translateX(250px) translateY(40px) rotate(0deg);
    }
    to {
        transform: rotate(-360deg) translateX(250px) translateY(40px) rotate(360deg);
    }
}
@keyframes jsOrbit {
    from {
        transform: rotate(0deg) translateX(250px) translateY(120px) rotate(0deg);
    }
    to {
        transform: rotate(-360deg) translateX(250px) translateY(120px) rotate(360deg);
    }
}
*/