.portfolio {
    text-align: center;
  }
  .portfolio > h2 {
    font-size: 3em;
    margin-top: 80px;
  }
  .portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
  }
  .unit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .unit h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 700;
  }
  .unit p {
    color: rgb(7, 7, 7);
    margin-top: 4px;
  }
  .projectThumb {
    border: 5px solid rgba(116, 100, 11, 0.692);
    border-radius: 10px;
  }
  .projectThumb:hover {
    box-shadow: 0px 0px 0 3px black;
  }